.cd-fixed-bg.cd-fixed-bg--contact-us {
  background-image:
  url("/bywatos_website_theme/static/src/img/background/world-background-compressor.jpg");
}

#contact-us{

    .container {
        background-color: white;
        opacity: 0.9;
    }
    .form-group{
        padding: 0 15%;

        .form-control {
            outline: none;
            box-shadow:none !important;
            width: 100%;
            border: none !important;
            border-bottom: 1px solid black !important;

            input:focus {
                border-color: #9d9fa0;
            }


        }
    }
}