#section-footer {
  color: white;

  .row {
    margin: 0;
  }
  .red-container {
    background-image: url('../img/lampe_color.JPG');
    background-size: 100vw 800px;
    height: 570px;
    margin-top: 50px;
    text-align: center;
    padding-top: 70px;
    background-repeat: no-repeat;
    }

    ul {
      li {
        display: inline;
      }
    }

    #newsletter-section {
      padding-top: 75px;
      padding-bottom: 50px;
      text-align: center;
      color: black;
      background-color: white;
    }

  footer {
    background-color: white;
  }
}

@media (min-height: 1024px) {

  .red-container {
    height: 1110px;
    }
}
