.red-container {
    background-image: url('../img/lampe_color.JPG');
    background-size: 1473px 800px;
    height: 570px;
    margin-top: 50px;
    text-align: center;
    padding-top: 70px;
}