header {
    ul {
        list-style-type: none;
    }

    #social-network {
        ul {
          padding: 16px;
          li {
            text-align: center;
            padding: 2px;
            margin: 0;
            width: 20%;
            font-size: 16px;
          }
        }
    }
}