.video-container{
    padding-top: 3em;
}

.youtube-iframe{
    padding-top: 20%;
}

.sidebar-homepage{

}

@media (max-width: 768px){
    #youtube-iframe {
        margin-bottom: 45px;
    }
}