.video-container{
    padding-top: 3em;
}

.youtube-iframe{
    padding-top: 20%;
}

.sidebar-homepage{
  background-color: transparent !important;
}

.sidebar-homepage:hover{
  background-color: #333 !important;
}

@media (max-width: 768px){
    #youtube-iframe {
        margin-bottom: 45px;
    }
}