@font-face {
font-family: 'megrim';
src: url('../police/megrim.ttf');
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.page-loading-transform-text {
    font-family: megrim;
	position: absolute; top: 65%; left: 46%;
  width: 220px; line-height: 36px; text-align: center; margin-left: -60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
  font-size: 25px;

}
