.modal-product {
    position: fixed;
    z-index: 100;
    overflow-y: auto;

    background-color: white;

    margin: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    
    .header-modal {
        display: flex;

        .modal-title {
            width: 80%;
            text-align: center;
            font-size: 1.5em;
            
            @media (orientation: landscape) {
                font-size: 2rem;
            }
        }

        #close-button-modal {
            width: 20%;
            float: right;
        }
    }

    .body-modal {
        margin-top: 25px;
        padding: 0 15px;

        p {
            font-size: 1rem;
        }
    }
}