.modal-product {
    position: fixed;
    z-index: 100;
    overflow-y: auto;

    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 1%;

    margin: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    
    .header-modal {
        display: flex;

        .modal-title {
            width: 80%;
            text-align: center;
            font-size: 1.5em;
            
            @media (orientation: landscape) {
                font-size: 2rem;
            }
        }

        #close-button-modal {
            width: 20%;
            float: right;
        }
    }

    .body-modal {
        margin-top: 25px;
        padding: 0 15px;

        p {
            font-size: 1rem;
        }
    }
}

.modalBlur > *:not(.modal-product) {
  -webkit-filter: blur(8px);
}
