@font-face {
font-family: 'megrim';
src: url('../police/megrim.ttf');
}

.social-share-youtube:hover{
  background-color: #f20404;
}

#menu-item-home, #menu-item-realisation, #menu-item-atelier, #menu-item-contact {
  font-family: megrim;
  font-size: 2em;
}

#logo {
  padding-left: 60px;
}

.filters {
  font-family: megrim;
  font-size: 1.2em;
}

.burger-img {
  width: 35px;
}

h1.main-title {
    line-height: 45px;
}

h1.main-title:before {
    display: none;
}

#hr-product {
  height: 2px;
  margin-right: 50% !important;
  margin-top: 25px !important;
  margin-bottom: 20px !important;
  padding: 0;
  background-color: #999;
  border: 0;

}

// max width tablet
@media (max-width: 768px){

    .gallery-info-wrap {
        padding: 0 25px;

        #title-bar {
            padding: 25px 0;

            .o_form_field {
                font-size: 15px;
            }
        }
    }

    h1.main-title {
        font-size: 25px;
        line-height: 25px;
    }
}