@font-face {
font-family: 'megrim';
src: url('../police/megrim.ttf');
}

.social-share-youtube:hover{
  background-color: #f20404;
}

#menu-item-homepage, #menu-item-portfolio, #menu-item-workshop, #menu-item-contact-us {
  font-family: megrim;
  font-size: 2em;
}

#logo {
  padding-left: 60px;
}

.filters {
  font-family: megrim;
  font-size: 1.2em;
}

.burger-img {
  width: 35px;
}

h1.main-title {
    line-height: 45px;
}

h1.main-title:before {
    display: none;
}

#hr-product {
  height: 2px;
  margin-right: 50% !important;
  margin-top: 25px !important;
  margin-bottom: 20px !important;
  padding: 0;
  background-color: #999;
  border: 0;

}

.gallery-info-wrap {
    width: 35% !important;
    top: 0;

     #title-bar {

        .o_form_field {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.gallery-images-wrap{
    left: 34% !important;

}

#mobile-description {
    display: none;
}

@media (min-width: 1980px){
    .gallery-info-wrap {

        #title-bar {
            padding: 20px 0;

            .o_form_field {
                font-size: 18px;
                line-height: 25px;
            }
        }


    }

    h1.main-title {
    }
}

@media (max-device-width: 1280px){
    .gallery-info-wrap {
        top: 0;

        #title-bar {
            padding: 25px 0 80px 0;

            .o_form_field {
                font-size: 14px;
                line-height: 20px;
            }
        }

    }

    h1.main-title {
        font-size: 35px;
        line-height: 35px;
    }
}

// max width tablet
@media (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

    .gallery-info-wrap {
        padding: 0 25px;
        top: 8%;
        width: 40% !important;

        #title-bar {
            padding: 45px 0;

            .o_form_field {
                font-size: 14px;
            }

            #desktop-description {
                display: none;
            }

            #mobile-description {
                display: block;
            }
        }
    }

    .gallery-images-wrap {
        margin-top: 60px !important;
        width: 60% !important;
        left: 40% !important;

        .gallery-wrap-slider{

        }
    }

    h1.main-title {
        font-size: 25px;
        line-height: 25px;
    }
}

// max width 425px
@media (max-device-width: 425px){

    .filters {
        ul {
           li {
             padding: 0 6px;
             font-size: 16px;
           }
        }
    }

    .gallery-info-wrap {
       padding: 0 15px;

        #title-bar {
            padding: 25px 0;

            h1 {
              font-size: gallery-images-wrap18px;
            }

            .o_form_field {
                font-size: 12px;
                line-height: 5px;
            }
        }
    }

    h1.main-title {
        font-size: 18px;
        line-height: 18px;
    }
}

// max width 375px
@media (max-device-width: 375px){

    .gallery-info-wrap {

        #title-bar {

            .o_form_field {
                font-size: 10px;
            }
        }
    }

    h1.main-title {
        font-size: 16px;
        line-height: 18px;
    }
}