#section_footer {
    height: 1100px;
    color: #BDC3C7;
}

#section_footer footer{

}

.red-container {
    background-color: red;
    height: 570px;
    margin-top: 50px;
    text-align: center;
    padding-top: 70px;
}

.white-container {
    background-color: white;
    margin: 0 471.75px;
    height: 390px;

}

.contact-title {
    padding-top: 50px;

}

.contact-link  {
    padding-top: 115px;
}

#footer_contact {
    height: 610px;
    width: 100%;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.box-news-letter {
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
    height: 150px;
}

.box-inside {

}

input-control {
    margin-top: 10px;
    padding-top: 10px;
}

.submit-control {
    padding-top: 85px;
}

.input-item {
    margin-top: 10px;
}

#section_footer .social-network {
    float: right;
    padding-right: 60px;
}

.copyright {
    float: left;
    padding-top: 25px;
    padding-left: 60px;
}
