section {
    float: left;
    height: 800px;
    width: 100%;
    object-fit: contain;
}

#page2 {

}

#page3 {
    background-color: black;
}


.square-container {
    background-color: white;
    width: 50%;
    float: left;
    padding: 25px;
}

#page2 .square-container{
    text-align: center;
}

#page3 .square-container{
    background-color: #000000;
    position: relative;
}

.page-two-img {
    height: 660px;
    width: 700px;
    object-fit: contain;
}

.youtube-iframe {
    position: absolute;
    height: 281px;
    width: 500px;
    left: 114px;
    top: 214.5px;
}
